<!-- <div class="container main outer">
      <div class="row">
        <div class="col-md-9 col-xs-12 full">
          {{ content }}
          <div class="row">
            <div class="col-md-12 col-xs-12 footer">
              {% include footer.html %}
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
        {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
          <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></small></p>
      </footer>
    </div>
